.App {
  text-align: center;
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 36px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  background-color: white;
}

th {
  background-color: rgb(211, 211, 211);
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}

.searchbar {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

form {
  gap: 0.5rem;
}

form > button {
  align-self: center;
}
